<!-- views/partial/navbar.ejs -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #A3C2F4;">
  <a class="navbar-brand" href="/"><h4> AnswerXchange </h4> </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbar" aria-controls="navbar"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" > <h4> Home </h4> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search"> <h4> Search </h4> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/question_upload"> <h4> Upload </h4> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/friends'> <h4> Friends </h4> </a>
      </li>
      <li class= "nav-item">
        <a class = "nav-link" href = '/notes_xchange'> <h4> Notes Xchange </h4> </a>
      </li>
    </ul>
      <% if (locals.user) { %>
        <% if (locals.notifications) { %>
          <li class="dropdown">
            <button class="btn dropbtn dropdown-toggle" role="button"
                data-toggle="dropdown" >
                Notifications <span class="badge badge-light"><%= locals.notifications.length%></span>
            </button>
            <div class="dropdown-menu">
              <% if (locals.notifications.length > 0) { %>
                <% for (let notification of notifications) { %>
                  <a  class="dropdown-item" href=<%= notification.link %>>
                    <%= notification.information %>
                  </a>
                  <div class="dropdown-divider"></div>
                <% } %>
              <% } else { %>
                  <span class="dropdown-item" href="#">
                    There are no new notifications.
                  </span>
              <% } %>
            </div>
          </li>
        <% } %>
        <li class="dropdown">
          <button class="btn dropbtn dropdown-toggle" type="button"
              data-toggle="dropdown"> <%= user.username %> 
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/user">User Info</a>
            <% if (locals.user && !user.facebook.username && !user.google.username) { %>
              <a class="dropdown-item" href=<%= user.edit_page %>>
                Edit profile
              </a>
            <% } %>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      <% } %>
  </div>
</nav>

<style>
/* Dropdown Button */
.dropbtn {
  color: white;
  background-color: transparent;
  padding-right: 2em;
  font-size: 20px;
  border: none;
  display: block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;}
</style>
