<!DOCTYPE html>
<html>
<%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <h1 class="my-4 display-4">Edit</h1>
          <h3> Edit your answers here </h3>
          <%- include('partials/error_message') %>
          <hr class="my-4">

          <div class="border border-primary p-4 jumbotron">
            <form action=<%= answer.answerDeleteUrl %> method="post">
              <div class="form-group">
                <h5>By <%=answer.userName %> answered at <%= answer.date_formatted %></h5>
                <div class="my-4 p-2 border border-dark rounded">
                  <label for="curr_answer"> Current ans: </label>
                  <% if (answer.img.data) { %>
                    <img src=<%= answer.picture_data %> alt="Error in picture" width="400px"
                        height="400px">
                  <% } %>
                  <h4 class = "my-4" id="curr_answer"> <%= answer.answer %> </h4>
                  <input class="form-control" hidden=true value=<%= answer.question %>
                   name="questionID" id="questionID">
                  <button class="btn btn-primary" type="submit">Delete</button>
                </div>
              </div>
            </form>
            <form action="" method="post">
                <label for="text">Updated ans: </label>
                <%- include('partials/quill-textArea') %>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      <div class="col"></div>
    </div>
  </body>
<%- include('partials/footer') %>
</html>
