<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h1 class="my-2 display-2">Search results </h1>
          <hr />
          <% if (locals.friends.length > 0) { %>
            <% for (let friend of friends) { %>
                <div class="border border-primary my-2 p-4" style="overflow: hidden">
                  <div class="float-left">
                    <h5><%= friend.username %></h5>
                      <!-- Form to add the user as a friend -->
                      <form action="/friend-add" method="post">
                        <div>
                          <input class="form-control" type="hidden" name="friendID"
                              id="friendID" value=<%= friend._id %> />
                          <button  type="submit" class="btn btn-primary">Add as friend</button>
                        </div>
                      </form>
                  </div>
                  <div class="float-right">
                    <img src=<%= friend.photo_URI %>
                        class="smaller-profile"
                        alt=<%= friend.username %> />
                  </div>
                </div>
            <% } %>
          <% } else { %>
            <div class="promo border border-primary p-3" align="center">
              <p>
                There are no such user at the moment.
              </p>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
