<!-- Homepage for the user -->
<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navBar') %>
    <div class="container">
      <div class ="row">
        <div class="col-md-3">
          <%- include('partials/side_bar') %>
        </div>
        <div class="col-md-8">
          <h1 class="my-4 display-4"><%= user.username %>'s detail </h1>
          <hr class="my-4">
          <%- include('partials/recentposts') %>
        </div>
      </div>
    </div>
  </body>
<%- include('partials/footer') %>
</html>
