<!-- Homepage for the user -->
<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navBar') %>
    <div class="container">
      <div class ="row">
        <div class="col"></div>
        <div class="col-8">
          <h1 class="my-4 display-4">Welcome to AnswerXchange! </h1>
          <h3> Your one-stop-solution to exam woes. :) </h3>
          <hr class="my-4">
          <%- include('partials/recentposts') %>
        </div>
        <div class="col">
          <%- include('partials/side_bar') %>
        </div>
      </div>
    </div>
  </body>
<%- include('partials/footer') %>
</html>
