<!DOCTYPE html>
<html>
<%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
      <div class="col"></div>
      <div class="col-8">
          <div class="jumbotron my-2">
            <h3>Login page</h3>
            <hr class= "my-5">
            <!-- Show any messages that came back with the authentication -->
            <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <%- include('partials/login_component.ejs') %>
        </div>
        <%- include('partials/footer') %>
      </div>
      <div class="col"></div>
      </div>
    </div>
  </body>
</html>
