<!-- questions, code, semester -->
<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h1 class="display-2">Search Results</h1>
          <h3 class = "my-2">Search module: <%= code %>,  Search semester: <%= semester %><h3>
          <hr class="my-2">
          <div class = "jumbotron">
            <% for (let question of questions) { %>
              <div class="border border-dark rounded p-4 my-2 text-muted">
              <h5>By <%= question.userName %></h5>
              <a href=<%= question.url %>> <h4 class = "my-2"><%= question.question %> </a> </h4>
                <div class="post-content mx-3">
                    <p>Replied by: <%= question.replies %></p>
                  </div>
                </div>
                <% } %>
              </div>
          </div>
        </div>
        </div>
      </body>
      <%- include('partials/footer') %>
</html>
