<!DOCTYPE html>
<html>
<%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class= "display-4"><%= question.question %></h1>
        <h4>Question by <%= question.userName %></h4>
        <!-- The user is able to delete the question if it is his
            question -->
        <% if (user) { %>
          <% if (user._id.toString().localeCompare(question.userID) == 0) { %>
            <a href=<%= question.deleteURL %>>
              <div>
                <i class= "material-icons"> delete <h5> Delete </h5> </i>
              </div>
            </a>
          <% } %>
        <% } %>
        <hr class="my-4">
        <div class="jumbotron">
          <h3>Replies</h3>
          <% if (locals.answers.length > 0) { %>
            <% for (let answer of answers) { %>
              <div class="my-4 p-2 border border-dark rounded">
                <h5>By <%=answer.userName %> answered at <%= answer.date_formatted %></h5>
                  <div class= "border rounded view overlay p-2 my-2">
                    <!-- Add the images if there are any -->
                      <% if (answer.img.data) { %>
                        <img src=<%= answer.picture_data %> alt="Error in picture" width="400px"
                            height="400px">
                      <% } %>
                    <div class="row">
                      <h4 class = "my-4"> <%= answer.answer %> </h4>
                    </div>
                    <!--Check if the current user has voted already -->
                    <% if (JSON.stringify(answer.votedUsers).includes(JSON.stringify(user._id))) { %>
                      <div class="row">
                        <div class="offset-md-6">
                          <button type="submit"
                              class="btn btn-outline-dark btn-sm" disabled>
                            <i class="fas fa-thumbs-up mx-4"> Like</i>
                          </button>
                        </div>
                      </div>
                    <% } else { %>
                      <div class="row">
                        <div class="offset-md-6">
                          <form action=<%= answer.votingURL %> method="post" >
                            <button type="submit"
                                class="btn btn-outline-dark btn-sm"
                                name="vote" value="like">
                              <i class="fas fa-thumbs-up mx-4"> Like</i>
                            </button>
                          </form>
                        </div>
                      </div>
                    <% } %>
                    <!-- Give details of the answer -->
                    <div class="row">
                      <div class="col-xs-12">
                        <h5>Votes: <%= answer.vote %></h5>
                      </div>
                    </div>

                    <% if (user && answer.userID.toString().localeCompare(user._id) == 0) { %>
                        <div>
                          <a href =<%= answer.answerUrl%>>
                            <i class = "material-icons"> mode_edit <h5> Edit </h5> </i>
                          </a>
                        </div>
                    <% } %>
                  </div>
              </div>
            <% } %>
          <% } else { %>
            <div class="alert alert-danger p-2" role="alert">
              <h5 >There are no answers to this question,
                  why don't you give the first reply?</h5>
            </div>
          <% } %>
        </div>
        <hr class="my-4">
          <form action="" method="post">
            <div class="form-group">
              <label for="answer"> <h3> Your answer: </h3> </label>
              <%- include('partials/quill-textArea') %>
              <input class="form-control" type="hidden" name="question"
                  required="true" value=question._id>
            </div>
          <button class="btn btn-primary my-2" type="submit">Submit</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </body>
<%- include('partials/footer') %>
</html>
