<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <h1 class="my-4 display-4">Search</h1>
          <h3> Do a quick search of the questions according to their modules</h3>
          <%- include('partials/error_message') %>
          <hr class="my-5">
          <div class="jumbotron border border-primary p-4 text-muted">
            <form action="" method="post">
              <%- include('partials/filter_bars') %>
              <button type="submit" class="btn btn-primary">Filter</button>
            </form>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>
