<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <%- include('partials/navBar') %>
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <h1 class="my-4 display-4">Search</h1>
          <h3> Some instructions with regards to what you can do on this site.
              Let's try to make it idiot proof</h3>
          <hr class="my-5">
          <div class="jumbotron">
            <%- include('partials/error_message') %>
            <form action="" method="post">
              <div class = "border border-success rounded p-4 text-muted">
                <%- include('partials/filter_bars') %>
                <button type="submit" class="btn btn-primary">Filter</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>
